Mòduls/M04-LenguatgesDeMarques/UF1/ej6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bingo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="color" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="colo" type="colorperm"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="colorperm">
    <xs:restriction base="xs:string">
      <xs:enumeration value=""/>
      <xs:enumeration value="ASIX"/>
      <xs:enumeration value="ASIX"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
